@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$roboto: 'Roboto', sans-serif;

.Display{
    font-size: 3rem;  
    font-family: $roboto;
    font-weight: bold;
    letter-spacing: -1.2;
  }
  .HeadingL{
      font-size: 2.5rem;  
      font-family: $roboto;
      font-weight: bold;
      letter-spacing: -1;
  }
  .HeadingM{
      font-size: 2rem;  
      font-family: $roboto;
      font-weight: bold;
      letter-spacing: -0.8;
  }
  .HeadingS{
      font-size: 1,5rem;  
      font-family: $roboto;
      font-weight: bold;
      letter-spacing: -0.6;
  }
  .HeadingXS{
      font-size: 1.25rem;
      font-family: $roboto; 
      font-weight: bold; 
  }
  .Subheading{
      font-size: 1rem;  
      font-family: $roboto;
      font-weight: bold;
    
  }
  .BodyM{
      font-size: 1rem;
      font-family: $roboto;
  }