@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$bodyFont: 'Roboto', sans-serif;

.Display, 
h1{
    font-size: 3rem;  
    font-weight: bold;
    letter-spacing: -1.2;
  }
.HeadingL, 
h2{
      font-size: 2.5rem;  
      font-weight: bold;
      letter-spacing: -1;
  }
.HeadingM,
h3{
      font-size: 2rem;  
      font-weight: bold;
      letter-spacing: -0.8;
  }
.HeadingS,
h4{
      font-size: 1,5rem;  
      font-weight: bold;
      letter-spacing: -0.6;
  }
.HeadingXS,
h5{
      font-size: 1.25rem;
      font-weight: bold; 
  }
.Subheading,
h6{
      font-size: 1rem;  
      font-weight: bold;
    
  }
.BodyM,
label{
      font-size: 1rem;
  }