@use 'src/assets/scss/colors.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


$bodyFont: 'Roboto', sans-serif;
$colorFont: $dark-high;



@media (min-width:481px)  { 
  .Display{
    font-size: 2.5rem;  
    font-weight: bold;
    letter-spacing: -1.2;
    color: $colorFont;
  }
.HeadingL{
      font-size: 2rem;  
      font-weight: bold;
      letter-spacing: -1;
      color: $colorFont;
  }
.HeadingM{
      font-size: 1.5rem;  
      font-weight: bold;
      letter-spacing: -0.8;
      color: $colorFont;
  }
.HeadingS{
      font-size: 1.25rem;  
      font-weight: bold;
      letter-spacing: -0.6;
      color: $colorFont;
  }
.HeadingXS{
      font-size: 1.125rem;
      font-weight: bold; 
      color: $colorFont;
  }
.Subheading{
      font-size: 1rem;  
      font-weight: bold;
      color: $colorFont;
  }
.BodyM{
      font-size: 1rem;
      color: $colorFont;
  }

  
}

@media (min-width:1025px) {
  .Display{
    font-size: 3rem;  
    font-weight: bold;
    letter-spacing: -1.2;
    color: $colorFont;
  }
.HeadingL{
      font-size: 2.5rem;  
      font-weight: bold;
      letter-spacing: -1;
      color: $colorFont;
  }
.HeadingM{
      font-size: 2rem;  
      font-weight: bold;
      letter-spacing: -0.8;
      color: $colorFont;
  }
.HeadingS{
      font-size: 1.5rem;  
      font-weight: bold;
      letter-spacing: -0.6;
      color: $colorFont;
  }
.HeadingXS{
      font-size: 1.25rem;
      font-weight: bold; 
      color: $colorFont;
  }
.Subheading{
      font-size: 1rem;  
      font-weight: bold;
      color: $colorFont;
  }
.BodyM{
      font-size: 1rem;
      color: $colorFont;
  }

}

