<body>
    <div class="container">
        <div class="form-header">
            <img class= "logo" src = "/assets/img/serasa-logo.svg">
            <h4 class = "HeadingS">Obrigado por avaliar nossos serviços</h4>
        </div>
        <form id="form" class="form">
            <div class="form-section" id="star-section">
               <i class="fa-solid fa-circle-check"></i>
            </div> 
            <div class="form-section">
                <label for="name">Você já pode fechar essa página.</label>
            </div> 
        </form>
    </div>
</body>

